<ion-content [fullscreen]="true" dir="rtl">
  <div class="container">
    <h1 class="ion-text-center">صلوات اليوم</h1>
    <div class="items">
      <ion-list>
        <ion-item>
          <ion-label> الفجر </ion-label>
          <ion-label> {{todayPrayerTimes?.fajr | date:'shortTime'}} </ion-label>
        </ion-item>
        <ion-item>
          <ion-label> الظهر </ion-label>
          <ion-label>
            {{todayPrayerTimes?.dhuhr | date:'shortTime'}}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label> العصر </ion-label>
          <ion-label> {{todayPrayerTimes?.asr | date:'shortTime'}} </ion-label>
        </ion-item>
        <ion-item>
          <ion-label> المغرب </ion-label>
          <ion-label>
            {{todayPrayerTimes?.maghrib | date:'shortTime'}}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label> العشاء </ion-label>
          <ion-label> {{todayPrayerTimes?.isha | date:'shortTime'}} </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
  <h1 class="ion-text-center">طريقة الاستخدام</h1>

  <div style="margin: auto;width: 100%;text-align: center;margin-top: 20px;"> <div style="background: white;width: fit-content; display: inline-block;">
    <ol>
      <li> ادخل على الموقع من الكمبيوتر، هيستأذنك انه يعرف اللوكيشن عشان يقدر يحدد مواعيد الصلاة في مدينتك</li>
      <li> التطبيق سيقوم بتحميل ملف CSV هذا الملف به كل الصلوات لسنة بمواعيدها المناسبة لك</li>
      <li> قم بالدخول على google calendar الخاصة بك وقم بإنشاء calendar جيدة سميها صلواتي او من هذا القبييل</li>
      <li> قم بعمل import لملف الصلوات في الcalendar صلواتي المخصصه لذلك</li>
      <li>قم بضبط اعدادات التنبيه بالمدة التي تريدها قبل الصلاة</li>
    </ol>
    <h3>كل ما اريد منكم هو دعوه بصلاح الحال، ونشر هذا التطبيق لأصدقاءكم لمزيد من الأجر والثواب ❤</h3>
  </div></div>

</ion-content>
